body {
  background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
  text-align: center;
  color: #282c34;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.form {
  margin-top: 0px;
  margin-left: 90px;
  margin-right: 90px;
  margin-bottom: 100px;
  background: rgb(5, 5, 5);
  text-align: left;
  padding: 10px;
}

img {
  background: #080808;
  border-radius: 50%;
  padding: 10px;
  margin-top: -60px;
}

.header-div {
  background-color: #080808;
  color: white;
  margin-top: 60px;
  margin-left: 200px;
  margin-right: 200px;
  padding: 100px, 0, 0, 0;
}

.header-div div {
  background-color: white;
  text-align: center;
  padding-bottom: 10px;
}

input {
  border-radius: 20px;
  outline: none;
  border: transparent 1px;

  padding: 10px;
  margin: 10px 5px;
  font-weight: 500;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
  border-radius: 20px;
  outline: none;
  border: transparent 1px;
  color:rgb(2, 2, 2);
  background-color: #6887d3;

  padding: 10px;
  font-weight: 500;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.weather-description h3{
  color: rgb(21, 28, 28);
  font-weight: 400;
}

.weather-description p{
  color: rgb(21, 28, 28);
  font-size: 38px;
  margin: 0;
}

.title {

  font-weight: 700;
  font-size: 40px;
  margin-bottom: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.location {
  font-weight: 400;
}

@media screen and (min-width:768px) {
  .weather-description {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
    margin-top: 30px;
    text-align: center;
  }
  .header-div {
    margin: 60px 90px 20px 90px;
  }

  .section {
    text-align: center;
  }
}
